<div class="flex navbar">
    <span routerLink="/" class="pointer">
    <!--<img src="https://ayudalos.info/assets/svg/icon.svg" class="icon">-->
    <span class="main-color header-nav" style="margin-left:30px;">TEST APP</span>
    </span>
    <div>

    </div>
    <span class="spacer"></span>
    <span class="tab pointer gray" routerLink="/dashboard" routerLinkActive="active-link">Dashboard</span>
    <span class="tab pointer gray" routerLink="/crimeserver" routerLinkActive="active-link"> CrimeServer</span>
    <span class="tab pointer gray" routerLink="/blueliv" routerLinkActive="active-link" style="margin-right:40px;"> Blueliv </span>
</div>