p {
    margin: 2px;
}

.card-crime {
    width: 40%;
}

.card.card-crimes {
    margin: 20px;
}

.small {
    font-size: 0.9em;
}

button {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}